
/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
    /* margin: -9rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
 .title_h11{
    display: flex;
    justify-content: center;
    font-family: fantasy;
    color: rgb(97, 3, 97);  
    font-size: 45px;
    margin-top: -9rem;
    padding-bottom: 5%;    
    margin-left: -9rem;
}

/* .Contacts h6{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    font-size: x-large;
    margin-left: 5px;
    color: rgb(13, 0, 26);
} */
.number{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    font-size:xx-large;
    margin-left: 5px;
    color: rgb(13, 0, 26);
}
.number h5{
    margin-top: -10px;
    margin-left: 3.5rem;
}

.contact__icons{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    color: rgb(13, 0, 26);
}

.contact__icon {
    margin: 1rem;
    height:3.5rem;
    width:2.5rem;
    color: rgb(48, 7, 90);
}
.contact__designme{
    height:3px;
    margin-top: 1.5rem;
    background-color: rgb(117, 72, 107);
    width: 10rem;
}

.contact__designme1{
    height:2px;
    background-color: rgb(117, 72, 107);
    width: 38rem;
    /* margin-top: 60px; */
    /* padding-top: 5rem; */
 }

 .Contacts{
    margin-left: -1.9rem;

}

 .Contacts h1{
    color: rgb(36, 3, 68);
    font-family: fantasy;
 }
 .contact__lowpns{
    font-size: 70px;
    margin-top: 2rem;
    margin-left: 1.5rem;
 }

 .right__contact{
    margin-left: 20rem;
    margin-bottom: 8.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* border:solid #965790; */
    border-radius: 30px;
    width: 720rem;
    padding: 1rem;
    height: 503px;
    background-color: rgb(234, 247, 255);
 }

 .SM {
    display: flex;
    flex-direction: row;
    justify-content: center;
 }

 .SM h3{
    margin-right: 1rem;
    font-weight: 700;
 }

 .contact__form{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* margin: 1rem; */
 }

 .contact__label {
    font-size: large;
    color: rgb(13, 0, 26);
    /* font-weight: 500; */
    margin-left: 1rem;
 }

 .contact__input{
    border: solid rgb(135, 26, 231);
    

 }

.group__input{
padding:15px;
width: 30rem;
border: none;
background-color: #ffffff;
outline: 4px solid rgb(135, 26, 231) ;
transition: outline-color 250ms;
}
.input-group__input:focus{
    outline-color: #3c50cb;
}
.group__label{
    border: #e5e6e9;
    top: 0;
    left: 0%;
    transform: translate(10px, 10px);
    transform-origin: left;
    color: #000000;
    transition: transform 200ms;
}

.contact__input{
    transform: transition(0, -30px) scale(1.8);
    
}
.h1{
     text-align: center;
     margin-bottom: 20px;
}

input[type="text"], input[type="email"],
textarea{
    width: 50%;
    padding: 10px;
    border-radius: 40px;
}

.contact__submit{
    padding: 10px 20px;
    border-radius: 40px;
    cursor:pointer;
    border: solid rgb(135, 26, 231);
    background-color: #fffcff;
    width: 200px;
    height: 4rem;
    display: flex;
    justify-content: center;
    justify-self: center;
    margin-top: -15px;
    font-size: 20px;
    color:#250121;
    font-weight: 500;
}
.contact__submit:hover{
    background-color: #e2dfe2;
}

@media screen and (max-width:425px) {
    
    .container{
        margin: -9rem;
        margin-top: -23rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

     .title_h11{
        display: flex;
        justify-content: center;
        font-family: fantasy;
        color: rgb(97, 3, 97);  
        font-size: 25px;
        margin-top: -9rem;
        padding-bottom: 5%;    
        margin-left: 0.5rem;
    }
     .Contacts{
        margin-left: -0.1px;
        width: 26.5rem;
        /* border: solid black; */
     }
     .contact__designme1{
        width: 20rem;
        margin-left: 2.4rem;
     }

     .number {
        font-size: 16px;
        margin-left: 10px;
     }

     .contact__icons{
        font-size: 10px;
     }

     .contact__lowpns{
        font-size: 3rem;
        margin-left: 2rem;
     }

     .contact__designme {
        margin-left: 2rem;
     }

     .flex {
        display: flex;
        flex-direction: column;
     }

     .right__contact{
        width: 26.5rem;
        margin-left: 0px;
        margin-top: 3rem;
        height: 20rem;
    }

    .contact__label {
        font-size: small;
    }

    .contact__label {
        font-size: small;
        color: rgb(13, 0, 26);
        /* font-weight: 500; */
        margin-left: 2rem;
     }
    
     .contact__input{
        border: 2px solid rgb(135, 26, 231);
        height: 35px;
        margin-top: -18px;
        margin-left: 1rem;
     }

     .group__input{
      margin-left: 1rem;
      height: 65px;
      width: 22rem;  
      margin-top: -17px;
      outline: 2px solid rgb(135, 26, 231) ;
      transition: outline-color 250ms;  
    }

    .contact__submit{
      /* padding: 10px 20px; */
      border-radius: 30px;
      cursor:pointer;
      border: 3px solid rgb(135, 26, 231);
      background-color: #fffcff;
      width: 100px;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      justify-self: center;
      margin-top: -59px;
      margin-left: 17rem;
      font-size: 15px;
      color:#250121;
      font-weight: 500;
  }
  .contact__submit:hover{
      background-color: #e2dfe2;
  }

}