
/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.container__contact{
    /* margin: 9rem; */
    display: flex;
    justify-content: space-around;
}
 .title__h11{
    display: flex;
    justify-content: center;
    font-family: fantasy;
    color: rgb(97, 3, 97);  
    font-size: 35px;
    padding-bottom: 2%;    
    margin-left: -9rem;
}

.email__contact h6{
    font-size: large;
    margin-left: 5px;
    color: rgb(13, 0, 26);
}
.number__contact h5{
    font-size: large;
    margin-left: 5px;
    color: rgb(13, 0, 26);
}

.contact__icons{
    display: flex;
    flex-direction: row;
    margin-left: -1rem;
    color: rgb(13, 0, 26);
}

.contact__icon{
    margin: 1rem;
    height:1.5rem;
    width:1.5rem;
    color: rgb(48, 7, 90);
}

.contact__designme1{
    height:2px;
    background-color: rgb(179, 100, 161);
    width: 7rem;
    /* margin-top: 60px; */
    /* padding-top: 5rem; */
 }

 .left__contact{
    margin-left: -10px;
    
 }

 .left__contact h1{
    color: rgb(36, 3, 68);
    font-family: fantasy;
 }
 .contact__lowpns{
    font-size: 70px;
 }

 .right__contact{
    margin-left: 12rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
 }

 .contact__form{
    display: flex;
    flex-direction:block;
    justify-content: space-around;
    margin: 0rem;
 }

 .contact__label {
    font-size: large;
    color: rgb(13, 0, 26);
    font-weight: 700;
 }
 .contact__btn{
    height: 3rem;
    width: 6rem;
  } 

 
/* .Form{
    display: flex;
    flex-direction:column;
    justify-content:right;
    margin-left: 780px;
    margin-top: 50px;
    position: relative;
} */

.group__input{
color: #000000;
padding:15px;
width: 25rem;
border: none;
outline: 2px solid #0a0a0a;
background-color: transparent;
transition: outline-color 250ms;
}
.input-group__input:focus{
    outline-color: #3c50cb;
}
.group__label{
    border: #e5e6e9;
    top: 0;
    left: 0%;
    transform: translate(10px, 10px);
    transform-origin: left;
    color: #000000;
    transition: transform 200ms;
}

.contact__input{
    transform: transition(0, -30px) scale(1.8);
    
}
.h1{
     text-align: center;
     margin-bottom: 20px;
}

input[type="text"], input[type="email"],
textarea{
    width: 50%;
    padding: 10px;
    border-radius: 40px;
}

.contact__submit{
    background-color:rgb(232, 252, 252);
    color: #000000;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
    border: solid rgb(180, 102, 180);
    width: 150px;
    height: 3rem;
    margin-left: 10px;
}

