.footer{
    margin: 5rem;
    display: flex;
}

.footer h6{
    font-size: large;
    margin-left: 5px;
    color: rgb(13, 0, 26);
}
.footer h5{
    font-size: large;
    margin-left: 5px;
    color: rgb(13, 0, 26);
}

.icons{
    display: flex;
    flex-direction: row;
    margin-left: -1rem;
    color: rgb(13, 0, 26);
}

.icon{
    margin: 1rem;
    height:1.5rem;
    width:1.5rem;
    color: rgb(48, 7, 90);
}

.designme1{
    height:2px;
    background-color: rgb(41, 86, 116);
    width: 7rem;
 }

 .left-footer h1{
    color: rgb(36, 3, 68);
    font-family: fantasy;
 }

 .right-footer{
    margin-left: 15rem;
    display: flex;
    flex-direction: column;
    
 }

 .form{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    margin: 0rem;
 }