.HeroSection{
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-image: url('../Assets/pexels-晋欧-朱-2848289.jpg');
    background-repeat: no-repeat;
    height: 600px;
}

.leftSide{
    padding: 1%;
    background-color: azure;
    width: 60%;
    height: 96%;
    object-fit: cover;
    color: rgb(13, 0, 26);
}

.RightSide{
    display: flex;
    flex-direction: column;
    padding: 0%;
}

.topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 10%;
    padding :2%;
}

.home{
    color: rgb(84, 7, 87);
    font-style: normal;
    font-size: larger;
}

.topbar a {
    font :300;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 50%;
    padding :15%;
    font-size: larger;
}
.leftSide h1{
    font-family: fantasy;
    padding-left: 1%;
    color: rgb(51, 4, 53);

}
.h1 {
    margin: 50px;
    font-size: 40px;
}
.p {
    margin-left: 50px;
}


.btn {
    margin-top: 50px;
    margin-left: 50px;
     height: 80px;
     width: 230px;
     border: solid rgb(135, 26, 231);
     background-color: rgb(192, 138, 240);
}

.btn:hover{
    /* border-radius: 30%; */
    border: solid rgb(202, 166, 236);
    background-color:rgb(197, 221, 221);
}

.Image img{

}

.Image {
    background-image: url("../Assets/pexels-designecologist-1779487.jpg");
    border: solid rgb(207, 163, 248);
    height: 25rem;
    width: 300px;
    margin-top: 50px;
    margin-left: -90px;
    transition: transform .2s;
    transform: rotate(20deg);
    background-size: cover;
    background-repeat: no-repeat;
}

.Image:hover {
transform: scale(1.1);
}

