.hero__section {
  display: flex;
  flex-direction: row;
  justify-content: left;
  /* background-image: url("../Assets/pexels-晋欧-朱-2848289.jpg"); */
  background-repeat: no-repeat;
  height: 1100px;
  z-index: 1;
  /* width: 2900px; */
}

.hero__div-left {
  padding: 1%;
  background-color: rgb(242, 247, 247);
  width: 60%;
  height: 96%;
  object-fit: cover;
  color: rgb(13, 0, 26);
}

.hero__logo {
  font-weight: 190;
  border: 2px solid rgb(157, 80, 230);
  font-family: fantasy;
  color: var(--color-primary);
  background-color: rgb(214, 188, 219);
  border-radius: 50%;
  padding: 1%;
}
.hero__top{
  display: flex;
  flex-direction: row;
}

.hero__navbar {
  display: flex;
  justify-content: center;
  margin-left: 350px;
  position: fixed;
}

.hero__menu {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  font-weight: 100;
  list-style: none;
  /* margin-left: 200px; */
}

.hero__menu li {
  display: flex;
  flex-direction: row;
  margin-right: 115px;
  color: rgb(157, 80, 230);

}

/* .menu-icon {
  display: none; /* Hide the menu icon by default */
  /* cursor: pointer; */
/* } */ */
.hero__div-right {
  display: flex;
  padding: 0%;
  flex: 1;
}


/* .hero__navbar {
  display: flex;
  flex-direction: row;
  gap: 7rem;
  padding: 1%;
} */
.hero__menu{
  margin-left: 50rem;
}

/* .hero__navbar a {
  text-decoration: none;
  display: flex;

flex-direction: row;
} */



.hero__div-left h1 {
  font-family: fantasy;
  padding-left: 1%;
  color: rgb(51, 4, 53);
  margin: 90px;
  font-size: 70px;
}


.hero__div-left p {
  margin-left: 50px;
  font-size: 25px;
}


.hero__buttons {
  display: flex;
  flex-direction: row;
}

.hero__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .2rem;
  margin-top: 60px;
  margin-left: 50px;
  height: 100px;
  font-size: larger;
  width: 300px;
  border: solid rgb(157, 80, 230);
  border-radius: 50px;
  background-color: transparent;
}

.hero__btn:hover {
   border: solid rgb(192, 138, 240) ;
  background-color:rgb(154, 96, 204) ;
  border-radius: 55px;
  height: 115px;
  width: 315px;
  color: black;
 
}

.hero__image {
  background-image: url("../Assets/pexels-designecologist-1779487.jpg");
  border: solid rgb(207, 163, 248);
  height: 39.6rem;
  width: 800px;
  margin-top: 210px;
  margin-left: -95px;
  transition: transform 0.15s;
  transform: rotate(20deg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.hero__image:hover {
  transform: scale(1.2);
  
}


/* Responsiveness */
/* Breakpoint max-width: 425px, min-width: 320px*/
@media screen and (max-width: 425px) {
    .hero__section {
      background-image: url('../Assets/pexels-晋欧-朱-2848289.jpg');
      background-color:none;
      background-size: cover;
      height:690px;
      width: 29rem;
      background-repeat: no-repeat;
      z-index: -3;
    }

    .hero__image {
        background-image: none;
        border: none;
    }

    .hero__div-left {
        padding: 0%;
        background-color: transparent;
        width: 100%;
       
      }

      .hero__div-right{
        display: none;
        flex-direction: none;
       padding: 0%;
       width: none;
       flex: none;
      }
   
   
    .hero__navbar {
        display: flex;
        font-size: 0.9rem;
        color: rgb(174, 89, 177);
        font-weight: 30;
        justify-content: center;
        margin-left: 100px;
    }
   

.hero__div-left h1 {
  font-family: fantasy;
  color: rgb(124, 14, 128);
  font-size: 35px;
  border: solid 0.5px white;
}


.hero__div-left p {
  margin-left: 0.5px;
  margin-bottom: -7rem;
  color: rgb(122, 12, 126);
  font-size: 25px;

}

    .hero__logo {
        width: fit-content;
        color: rgb(107, 9, 110);
        font-weight: 190;
        border: 2px solid rgb(157, 80, 230);
        font-family: fantasy;
        color: var(--color-primary);
        background-color: rgb(214, 188, 219);
        border-radius: 50%;
        height: 3.4rem;
        padding: 1%;
         } 

    .hero__navbar a {
         flex-direction: row;
         margin-right: 100%;  
    }
      
    
.hero__buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 40px;
}

.hero__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 80px;
  margin-left: 20px;
  height: 50px;
  width: 155px;
  font-size: small;

  border: solid 1px white;
  background-color: rgb(192, 138, 240);
}
/* .hero__menu {
  display: flex; /* Hide the menu by default on smaller screens */
  /* top: 100%;
  left: 0; */
  /* background-color: #fff;
  text-align: center; */
/* } */ */

/* .hero__menu li {
  display: block;
  margin: 10px 0;
} */

.hero__top{
  display: flex;
  flex-direction: row;
}

.hero__menu{
  font-size: 15px;
  margin-left: 133px;
}

.hero__menu a{
  margin-left: -100px;
  padding: 0%;
}
.hero__menu li {
  display: flex;
  flex-direction: row;
  margin-right: 65px;
}

.hero__menu-icon {
  display: block; /* Display the menu icon on smaller screens */
  font-size: 24px;
}

/* Hide the checkbox input */
#menu-toggle {
  display: none;
}

/* Show the menu when checkbox is checked */
#menu-toggle:checked + .hero__menu {
  display: block;
}

}